<h4>会員情報編集</h4>

<h2><%= (@customer.last_name + @customer.first_name) %>さんの会員情報編集</h2>

<%= form_with model: @customer,url: edit_customer_path, method: :patch do |f| %>
<table class="table table-borderless">
            <thead>
              <tr>
                <td><%= @customer.id %>会員ID</td>
                <%= f.label :"#{@customer.id}" %>
                <td><%= f.text_field :last_name %>名前（姓）</td>
                <td><%= f.text_field :first_name %>名前（名）</td>
                <td><%= f.text_field :last_name_kana %>セイ</td>
                <td><%= f.text_field :first_name_kana %>メイ</td>
                <td><%= f.text_field :zip_code %>郵便番号</td>
                <td><%= f.text_field :address %>住所</td>
                <td><%= f.text_field :phone_number %>電話番号</td>
                <td><%= f.text_field :email %>メールアドレス</td>
              </tr>
            </thead>
          </table>
<% end %>