<h2>商品詳細</h2>
<div class='container'>
    <div class='row'>
        <div class="col-md-4">
            <%= image_tag @item.image %>
        </div>
        <div class="col-md-6">
            <table class='table'>
                <tr>
                    <td>商品名 <%= @item.name %></td>
                    <td>商品説明 <%= @item.text %></td>
                    <td>ジャンル <%= @item.genre_id %></td>
                    <td>税込価格(税抜価格) <%= (@item.non_taxed_price * 1.1).to_i %>(<%= @item.non_taxed_price %>)円</td>
                    <td>販売ステータス 
                        <% if @item.is_active == true %>
				        販売中
				        <% else %>
	                    売切れ
				        <% end %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class='row'>
        <%= link_to '編集する', edit_admin_item_path, class: "btn btn-success btn-sm btn-block mb-3" %>
    </div>
</div>
