<h4>会員情報編集</h4>

<%= form_with model: @customer url: edit_customer_path, method: :patch do |f| %>
<table class="table table-borderless">
            <thead>
              <tr>
                <label for="inputName">会員ID</label>
                <label for="inputName">氏名</label>
                <td><%= f.text_field :name %>フリガナ</td>
                <td><%= f.text_field :name %>郵便番号</td>
                <td><%= f.text_field :name %>住所</td>
                <td><%= f.text_field :name %>電話番号</td>
                <td><%= f.text_field :name %>メールアドレス</td>
                <td><%= f.text_field :name %>会員ステータス</td>
              </tr>
            </thead>
          </table>
<% end %>