<h1>ジャンル一覧・追加</h1>

<!-- ジャンル新規登録フォーム -->
<%= form_with model: Genre.new,url: admin_genres_path do |f| %>
  <h4>ジャンル</h4>
  <%= f.text_field :name %>
   <%= f.submit '新規登録' %>
<% end %>


<!--ジャンル一覧-->
<% @genres.each do |genre| %>
<span><%= genre.name %></span>
<%= link_to "編集する",edit_genre_path(genre.id) %>
<% end %>