<div class="container my-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h2>配送先編集</h2>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-10 px-sm-0 mx-auto">
      <%= form_with model: @addresses, local: true do |f| %>
      
        <tr>
          <div class="row my-3">
            <div class="col-3">
            <%= f.label :"郵便番号(ハイフンなし)" %>
            </div>
            <div class="col-2">
            <%= f.text_field :zip_code, :size => "20" %>
            </div>
          </div>
        </tr>
        <tr>
          <div class="row my-3">
            <div class="col-3">
            <%= f.label :"住所" %>
            </div>
            <div class="col-2">
            <%= f.text_field :adress, :size => "50" %>
            </div>
          </div>
        </tr>
        <tr>
          <div class="row my-3">
            <div class="col-3">
              <%= f.label :"宛名" %>
            </div>
            <div class="col-8">
              <%= f.text_field :name, :size => "20"%>
              <div class="text-right">
                <%= f.submit "変更内容を保存", class:"btn btn-success" %>
              </div>
          　</div>
          </div>
        </tr>
      <% end %>
    </div>
  </div>
</div>