<div class="container">
  <div class="row">
    <h2>商品詳細</h2>
    <div class="col-xs-4">
    </div>
    <div class="col-xs-6">
              <div>
        <p><strong class="col-xs-2">商品名</strong><%= @item.name %></p>
      </div>
      <br>
      <div>
          <p><strong class="col-xs-2">商品説明</strong><%= @item.text %></p>
      </div>
      <br>
      <div>
          <p><strong class="col-xs-2">ジャンル</strong><%= @genre %></p>
      </div>
      <br>
      <div>
          <p><strong class="col-xs-4">税込価格</strong><%= (@item.non_tax_price*1.1).floor.to_s(:delimited) %>円</p>
      </div>
      <br>
      <div>
      <p><strong class="col-xs-3">販売ステータス</strong>
      <% if @item.is_active == true %>
        <%= "販売中" %>
      <% else %>
        <%=  "販売停止中" %>
      <% end %>
      <br>
      </div>
      <div class="text-right">
          <%= form_with model: @cart_item, url: items_path, local: true do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.number_field :amount , placeholder: "個数選択" %>
          <%= f.submit 'カートに入れる', class: "btn-sm success" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>